# Problem Set 2 - Robert Friend

# Question 1 
Consider the following Python module:
a = 0 
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:

>>> b()
>>> b()
>>> b()
>>> a
?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [15]:
a = 0
def b():
    global a
    a=c(a)
    
def c(a):
    return a+2
b()
b()
b()
print(a)

# 6 is displayed when expression a is evaluated because when b() is called each b() is also calling to c() which is reutning a+2. So with each b() we then add 2 to 0 three times.

6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:

fileLength('midterm.py') 
284
fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module> 
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength 
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
    
fileLength('midterm.py') 
358
fileLength('idterm.py') 
File idterm.py not found.

In [17]:
def fileLength(filename):
    try:
        infile = open(filename)
        strnum = infile.read()
        len(strnum)
        print(len(strnum))
    except: 
        print('File idterm.py not found')

fileLength('midterm.py') 
fileLength('idterm.py') 

# Week 5 lecture,

589
File idterm.py not found

# Question 3

Write a class named Marsupial that can be used as shown below:

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents() 
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
    
    a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
    
    b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
    
    c. overloads the __str__ operator so it behaves as shown below

In [1]:
# Week 5 lecture Overloaded Constructor also be sure to utilize inheritence (also week 5)

class Marsupial:
    t = []
    def __init__(self):
            self = []
    def put_in_pouch(self,stuff):
        if stuff not in self.t:
            self.t.append(stuff)
        else:
            return
    def pouch_contents(self):
            return (self.t)

In [2]:
m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [3]:
# Kangaroo a, b and c

class Kangaroo(Marsupial):
   
    def __init__(self, xcoord=0, ycoord=0):
        'initialize coordinates to (xcoord, ycoord)'
        self.x = xcoord
        self.y = ycoord
        
    def __str__(self):
        return('I am a Kangaroo located at coordinates ({}, {})'.format(self.x,self.y))
    #{} providing a placeholder for the self.x and self.y
    
    def setx(self, xcoord):
        'set x coordinate of point to xcoord'
        self.x = xcoord

    def sety(self, ycoord):
        'set y coordinate of point to ycoord'
        self.y = ycoord

    def get(self):
        'return coordinates of the point as a tuple'
        return (self.x, self.y)

    def jump(self, dx, dy):
        'change the x and y coordinates by dx and dy'
        self.x += dx
        self.y += dy  

#print string using format

In [4]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [5]:
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [6]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [7]:
print(k)

I am a Kangaroo located at coordinates (3, 0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:

x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논
+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬

Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

collatz(1) 

1

collatz(10) 

10
5
16
8
4
2
1

In [53]:
#recursive is a function one that calls itself (def countdown(n): print(n) countdown(n-1) countdown(3))

def collatz(n):
    print(n)
    if (n == 1):
        return n
    if (n%2==0):
        return (collatz(n//2)) #when defining any method use return and not print
    else:
        return(collatz((3*n)+1))

In [54]:
collatz(1)

1

1

In [55]:
collatz(10)

10
5
16
8
4
2
1

1

# Question 5

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [56]:
def binary(n):
    print(n%2) #% represents remainder
    if (n>1):
        return (binary(n//2)) # double backslash changes formatting to int instead float

In [57]:
binary(0)

0

In [58]:
binary(1)

1

In [59]:
binary(3)

1
1

In [60]:
binary(9)

1
0
0
1

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document.Each heading should be indented asfollows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [10]:
#Review recording near the end of the lecture
#cell number 4 HTML parser

#for indentation you need to put a \t in the print
#create the handler inside the class
from html.parser import HTMLParser 
class HeadingParser(HTMLParser):
    a = ''
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.a = 'h1'
        if tag == 'h2':
            self.a = 'h2'
            
    def handle_data(self, data):
        if self.a == 'h1':
            print(data)
        if self.a == 'h2':
            print('\t'+data)
            
    def handle_endtag(self,data):
        if tag == 'h1' or tag == 'h2':
            self.a = ''

In [11]:
infile = open('w3c.html') 
content = infile.read() 
infile.close()
hp = HTMLParser()
hp.feed(content)

# Question 7

#week 6 Prof. Ethan recording at the 55:43 Minute mark provides details surrounding this (Web Crawler).

In [137]:
from urllib.parse import urljoin #used to fetch the data and standard for web crawler
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

def webdir(url, depth, indent):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    print("\t"*indent+"{}".format(url))
    for link in urls:
        webdir(link,depth-1,indent+1)
        
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

Write SQL queries on the below database table that return:

In [2]:
 !pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\grant\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\users\grant\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\grant\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in c:\users\grant\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\grant\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: six in c:\users\grant\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\grant\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: traitlets>=5 in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pickleshare in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\grant\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\grant\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\grant\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\grant\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in c:\users\grant\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\grant\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\grant\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [86]:
# Crate Table

import sqlite3
con = sqlite3.connect('DB8.db')
cur = con.cursor()
cur.execute("CREATE TABLE H (City text, Country text, Season text, Temp float, Rainfall float)")
cur.execute("INSERT INTO H (City, Country, Season, Temp, Rainfall) VALUES ('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157),('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)")
#cur.commit()

In [91]:
#a all temp data, cur.fetchall
cur.execute('SELECT TEMP FROM H')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [92]:
# All the cities, but without repetition

cur.execute('select distinct city from H')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [96]:
# All the records for India
country = 'India'
cur.execute('select * from H where country = ?',(country,))
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [97]:
# All the Fall records

word = 'Winter'
cur.execute('select * from H where season = ?',(word,))
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)]

In [99]:
# e)
a,b = 200,400
cur.execute('select City, Country, season from H where rainfall between ? and ?',(a,b))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [104]:
# f)
a,b = 'Fall',20
cur.execute('select city, country from H where season = ? and temp > ? order by temp desc',(a,b))
print(cur.fetchall())

[('Mumbai', 'India'), ('Cairo', 'Egypt')]

In [133]:
# g)

a = 'Cairo'
cur.execute('select SUM(Rainfall) from H where City = ? group by City',(a,))
print(cur.fetchall())

[(27.6,)]

In [109]:
# h)

cur.execute('select Season, SUM(Rainfall) from H group by Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

list comprehension

In [140]:
#List Comprehension week 6 prof. Ethan 1:13:26 mark

words = ['the', 'quick','brown','fox','jumps','over','the','lazy','dog']

#a
caps_word = [x.upper() for x in words]
print(caps_word)

#b
lower_words = [x.lower() for x in words]
print (lower_words)

#c
length_words = [len(x) for x in words]
print(length_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [143]:
#d
words = ['the', 'quick','brown','fox','jumps','over','the','lazy','dog']
new_words = [[x.upper(),x.lower(),len(x)] for x in words]
new_words

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [144]:
#e
words = ['the', 'quick','brown','fox','jumps','over','the','lazy','dog']
four_words = [x for x in words if len(x) > 3]
four_words

['quick', 'brown', 'jumps', 'over', 'lazy']